*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  min-height: 100vh;
  color: #fff;
}

header {
  font-size: 1.5rem;
}

header p {
  width: 12rem;
}

header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
  outline: none;
}

form button {
  color: #fda085;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #fda085;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo-item {
  padding: 0 0.5rem;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #1cd171;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #ff6f47;
  width: 11rem;
  cursor: pointer;
  padding: 0.5rem;
  height: 55px;
  font-size: 1.2rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ff6f47;
  top: 0;
  right: 0;
  padding: 1.22rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #fff;
  color: #ff6f47;
}

.main-menu {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  color: #fff;
}

a {
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1.1rem;
  background-image: linear-gradient(120deg, #ffc251, #fa8e00);
  transition: all 0.3s;
  width: 7rem;
  font-weight: bold;
}

a:hover {
  background-image: linear-gradient(120deg, #fa8e00, #ffc251);
  transition: all 0.3s;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 75%;
  }

  select {
    width: 11rem;
    height: 41px;
  }
}
